@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #2c3039;
}

::-webkit-scrollbar {
    width: 16px;
}

::placeholder {
  color: #626565;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #626565;
}

::-ms-input-placeholder {
  color: #626565;
}

img {
    image-rendering: pixelated;
}

button, input[type=button], a, .page-content-nav-item {
  cursor: pointer;
}

.pixelated {
    image-rendering: pixelated;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #eaf2f5;
    width: 100%;
    overflow-x: hidden;
}

.page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.page-content .page-content-max-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1250px;
}

.page-content .page-content-space-between {
    display: flex;
    justify-content: space-between;
}

.page-content .page-content-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #16161680;
    z-index: 9;
}

.page-content .page-content-modal .page-content-modal-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    width: 500px;
}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-head {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 15px 0;
    border-radius: 8px 8px 0 0;
}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-head .page-content-modal-center-form-head-title {
    color: #4E4E4E;
    font-size: 25px;
    font-weight: 500;
}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-head .page-content-modal-center-form-head-description {
    color: #4E4E4E;
    font-size: 17px;
    
font-weight: 400;}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-head .page-content-modal-center-form-head-close {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    place-content: center;
    align-items: center;
    height: 30px;
    width: 30px;}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-head .page-content-modal-center-form-head-close .page-content-modal-center-form-head-close-icon {
    width: 25px;
    fill: #2e2e2e;cursor: pointer;
}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-content {
    display: flex;
    flex-direction: column;
    padding: 20px 70px 50px 70px;
}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-content .page-content-modal-center-form-content-input {
    background-color: #ffffff0a;
    border: 3px solid #0000000d;
    border-radius: 5px;
    color: #4E4E4E;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-content .page-content-modal-center-form-content-input:focus {
    border-color: #EEB425;
}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-content .page-content-modal-center-form-content-button-login {
    background-color: #EEB425;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0 0 0;}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-content .page-content-modal-center-form-content-button-register {
    color: #4E4E4E;
    font-size: 14px;
    font-weight: 500;
    text-align: center;margin: 15px 0 0 0;
}

.page-content .page-content-modal .page-content-modal-center .page-content-modal-center-form .page-content-modal-center-form-content .page-content-modal-center-form-content-button-register:hover {
    text-decoration: underline;
}

.page-content .page-content-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: url('/assets/images/header/default-background.png');
    background-position: center;
}

.page-content .page-content-header:before {
    background-image: url(/assets/images/header/pattern.png);
    background-color: #2c30397a;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-content .page-content-header .page-content-header-column {
    display: flex;
    flex-direction: column;
}

.page-content .page-content-header .page-content-header-column .page-content-header-text {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    max-width: 600px;
    z-index: 1;
}

.page-content .page-content-header .page-content-header-column .page-content-header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 20px 0 0 0;
}

.page-content .page-content-header .page-content-header-column .page-content-header-buttons .page-content-header-login-button {
    background: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 10px 30px;
}

.page-content .page-content-header .page-content-header-column .page-content-header-buttons .page-content-header-login-button:hover {
    background: #fff;
    color: #2c3039;
    border-color: #fff;
}

.page-content .page-content-header .page-content-header-column .page-content-header-buttons .page-content-header-register-button {
    background: #449f47c2;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 100px;
    padding: 10px 30px;
}

.page-content .page-content-header .page-content-header-column .page-content-header-buttons .page-content-header-or {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin: 0 25px;
}

.page-content .page-content-nav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}

.page-content .page-content-nav .page-content-nav-item {
    position: relative;
    padding: 20px 0;
    margin: 0 30px 0 0;
}

.page-content .page-content-nav .page-content-nav-item:hover .page-content-nav-item-text {
    color: #2C3039;
}

.page-content .page-content-nav .page-content-nav-item.active {
    position: relative;
    padding: 20px 0;
    margin: 0 30px 0 0;
    border-bottom: 4px solid #EEB425;
}

.page-content .page-content-nav .page-content-nav-item .page-content-nav-item-text {
    color: #4E4E4E;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 10px;
}

.page-content .page-content-nav .page-content-nav-item.active .page-content-nav-item-text {
    color: #2C3039;
}

.page-content .page-content-nav .page-content-nav-item:hover .page-content-nav-item-dropdown-content {
    visibility: visible;
    transform: translateY(0);
}

.page-content .page-content-nav .page-content-nav-item .page-content-nav-item-dropdown-content {
    position: absolute;
    top: 100%;
    visibility: hidden;
    background-color: #fff;
    border-radius: 3px;
    width: calc(100% + 20px);
}

.page-content .page-content-nav .page-content-nav-item .page-content-nav-item-dropdown-content .page-content-nav-item-sub-text {
    display: block;
    color: #2C3039;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
}

.page-content .page-content-nav .page-content-nav-item .page-content-nav-item-dropdown-content .page-content-nav-item-sub-text:hover {
    background-color: #00000013;
}

.page-content .page-content-collider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    padding: 20px 0;
    background-color: #fff;
}

.page-content .page-content-collider .page-content-collider-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 50px 0;
}

.page-content .page-content-collider .page-content-collider-item:last-child {
    padding: 0;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-head {
    display: flex;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-head .page-content-collider-head-icon {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    background-color: #dedede;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-head .page-content-collider-head-icon.news {
    background-image: url('/assets/images/collider/feeds.png');
    background-color: #f68b08;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-head .page-content-collider-head-icon.camera {
    background-image: url('/assets/images/collider/camera.png');
    background-color: #242c31;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-head .page-content-collider-head-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 10px;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-head .page-content-collider-head-column .page-content-collider-head-title {
    font-size: 16px;
    font-weight: 500;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-head .page-content-collider-head-column .page-content-collider-head-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0 0 0;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-article {
    position: relative;width: 300px;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0px #0000001a;
    border-radius: 8px;
    margin: 0 12px 12px 0;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-article:nth-of-type(4n+0) {
    margin: 0;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-article .page-content-collider-content-article-promo {
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 8px 8px 0 0;
    background-position: 300px 220px;
    margin: 0 0 20px 0;
    transition: 0.3s;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-article:hover .page-content-collider-content-article-promo {
    background-position: 350px 220px;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-article .page-content-collider-content-article-title {
    color: #222222;
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 20px 10px 20px;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-article .page-content-collider-content-article-bottom-side {
    position: absolute;
    bottom: 20px;
    left: 20px;display: flex;
    
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-article .page-content-collider-content-article-bottom-side .page-content-collider-content-article-bottom-side-avatar {
    display: flex;
    align-items: center;height: 40px;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-article .page-content-collider-content-article-bottom-side .page-content-collider-content-article-bottom-side-avatar .page-content-collider-content-article-bottom-side-avatar-figure {
    position: absolute;
    bottom: 0;
    
    height: 40px;
    width: 40px;border-radius: 100px;background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    image-rendering: -webkit-optimize-contrast;
    background-color: #ededed;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-article .page-content-collider-content-article-bottom-side .page-content-collider-content-article-bottom-side-avatar .page-content-collider-content-article-bottom-side-avatar-username {
    color: #666666;
    font-size: 14px;font-weight: 500;padding: 0 0 0 45px;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-photos {
    position: relative;width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0px #0000001a;
    border-radius: 8px;
    margin: 0 12px 12px 0;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-photos:nth-of-type(4n+0) {
    margin: 0;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-photos .page-content-collider-content-photos-promo {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-position: center;
    
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-photos .page-content-collider-content-photos-bottom-side {
    position: absolute;
    bottom: 10px;
    left: 10px;display: flex;
    
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-photos .page-content-collider-content-photos-bottom-side .page-content-collider-content-photos-bottom-side-avatar {
    display: flex;
    align-items: center;
padding: 13px 15px;background-color: #fff;border-radius: 100px;}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-photos .page-content-collider-content-photos-bottom-side .page-content-collider-content-photos-bottom-side-avatar .page-content-collider-content-photos-bottom-side-avatar-figure {
    position: absolute;
    bottom: 3px;
    
    height: 40px;
    width: 40px;border-radius: 100px;background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    image-rendering: -webkit-optimize-contrast;
    background-color: #dedede;
}

.page-content .page-content-collider .page-content-collider-item .page-content-collider-content .page-content-collider-content-photos .page-content-collider-content-photos-bottom-side .page-content-collider-content-photos-bottom-side-avatar .page-content-collider-content-photos-bottom-side-avatar-username {
    color: #666666;
    font-size: 14px;font-weight: 500;padding: 0 0 0 45px;
}



.page-content .error {
    display: none;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
    padding: 5px 20px;
}




.page-content .page-content-footer {
    display: flex;
    flex-direction: column;
    background-color: #2c3039;
    width: 100%;
}

.page-content .page-content-footer .page-content-footer-top-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.page-content .page-content-footer .page-content-footer-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000004f;
    padding: 20px;
}

.page-content .page-content-footer .page-content-footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page-content .page-content-footer .page-content-footer-column:last-of-type {
    margin: 0;
}

.page-content .page-content-footer .page-content-footer-logo {
    margin: 0 0 5px 0;
}

.page-content .page-content-footer .page-content-footer-title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

.page-content .page-content-footer .page-content-footer-title.copyright {
    font-size: 15px;
}

.page-content .page-content-footer .page-content-footer-text {
    max-width: 350px;
    color: #b1adad;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0 0 0;
}

.page-content .page-content-footer .page-content-footer-text.copyright {
    color: #918d8d;
    font-size: 13px;
}

.page-content .page-content-footer .page-content-footer-url {
    color: #9d9a9a;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0 0 0;
}

.page-content .page-content-footer .page-content-footer-url:hover {
  text-decoration: underline;
}

.page-content .page-content-footer .page-content-footer-url.hugoyin {
    font-size: 13px;
    font-weight: 600;
}

.page-content .page-content-footer .page-content-footer-download-button {
    background-color: #2a2e37;
    border: 1px solid #1f2228;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0 0 0;
    text-align: center;
    color: #ffff;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}

.page-content .page-content-footer .page-content-footer-download-button:hover {
    background-color: #292c34;
}